body {
    background-color: bisque;
}
#conter{
    color: red;
}
::selection{
    background-color: aquamarine;
}
textarea{
    color: red;
    font-size:20px;
}
textarea::placeholder{
font-size: 20px;
}
.button::before{
    content: atte(data-hide);
}
.checkbox:checked + .button::before{
    content:(data-show);
}
.checkbox:checked + .button + .box{
    display: none;
}